*~
*.exe
**/*.o
*.dll
*.a
*.lib
*.so
*.obj
*.pdb
*.ilk
*.tlog
*.ipch
*.log
*.ilk
*.idb
.suo
**/*.obj
**/*.swp
**/.vs
**/target
**/.gradle
**/node_modules
**/build
**/.cache
**/.settings
**/.vim
**/.vscode
**/.venv
**/CMakeFiles
**/*.cmake
**/CMakeCache.txt
**/*.class
**/*.swo
**/tags
**/Makefile
