*~
*.exe
*.o
*.dll
*.a
*.lib
*.so
*.obj
*.pdb
*.ilk
*.tlog
*.ipch
*.log
*.ilk
*.pdb
*.idb
.suo
*.obj
pjt01/git-clang-format
pjt01/scan-view
pjt01/scan-build
pjt01/hmaptool
pjt01/.vs/TEST01/v15/Browse.VC.db
pjt01/x64/ts/vc.nativecodeanalysis.all.xml
pjt01/x64/ts/ts2.nativecodeanalysis.xml
pjt01/x64/ts/ts.exe.lastcodeanalysissucceeded
pjt01/x64/ts/TEST01.pdb
pjt01/x64/ts/TEST01.log
pjt01/x64/ts/TEST01.ilk
pjt01/.vs/TEST01/v15/.suo
pjt01/TEST01.vcxproj.user
pjt01/.vs/TEST01/v15/Browse.VC.db
*.*_ 
pjt02/cscope.files
pjt03/a.txt
pjt01/app
pjt02/cscope.out
pjt03/cache.bak
pjt03/cache.dat
pjt03/cache.dir
pjt03/t.txt
pjt05/a.d
pjt05/ALL_BUILD.vcxproj
pjt05/ALL_BUILD.vcxproj.filters
pjt05/b.d
pjt05/cscope.files
pjt05/cscope.out
pjt05/execute
pjt05/hello.vcxproj
pjt05/hello.vcxproj.filters
pjt05/Makefile
pjt05/Project.sln
pjt05/ZERO_CHECK.vcxproj
pjt05/ZERO_CHECK.vcxproj.filters
