*~
*.exe
*.o
*.swo
tags
*.swo
*.swp
/T/
/*.obj/
/*.tlog/
CMakeFiles/**/*
**/**/*~
**/**/*.cmake
build
**/build/**/*.*
**/CMakeCache*
**/Makefile
**/CMakeFiles
**/Makefiles
**/.settings/*.*
**/target/*.*
